{% extends "models/base.twig" %}
{% block pageName %}landing{% endblock %}
{% block body %}
    <div class="header">
        <h1>Hello World!</h1>
        <p>If you're seeing this, watrkit has been setup!</p>
    </div>
{% endblock %}
